#mainHeading{
    color:  lightgoldenrodyellow;
    background-color: sienna;
    text-align: center;
    font-size: 2.0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 10px 10px 10px black;
    box-shadow: 10px 10px 10px black;
    border: 10px solid palegreen;
    border-radius: 40px;
}

#teamsBody{
    background-color: lightblue;
}

.player{
    width: 350px;
}


.mainDiv{
    width: 350px;
    border: 2px solid black;
    background-color: aquamarine;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
}

div p{
    text-align: justify;
}


#shreyasIyerDiv{
    background-color: cadetblue;
    border: 8px dotted darkred;
}

#patCumminsDiv{
    background-color: cornflowerblue;
    border: 8px dashed darkorchid;
}

#sanjuSamsonDiv{
    background-color: darkolivegreen;
    border: 8px double darkred;
}

#viratKohliDiv{
    background-color: darkorange;
    border: 8px groove lime;
}

#ruturajGaikwadDiv{
    background-color: limegreen;
    border: 8px groove palevioletred;
}
